<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 스프링에서는 객체를 bean으로 다룬다.
	id는 식별값, class는 읽어들일 class정보를 적으면된다.
	나는 이것은 id = 변수 class = 인스턴스 라고 이해했다. -->
	<bean id="greeter" class="chap02.Greeter">
		<property name="format" value="%s, 안녕하세요!" />
	</bean>

</beans>